*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #e6e1e1;
}

.logo{
    height:80px; 
    width:200px;
    margin-left: 50px;
}
.nav{
    width: 100%;
    height: 15vh;
    background-color:#e6e1e1;
    border-bottom: 10px solid #0390b2;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    margin-right: 10px;

} 
.navlist{
    list-style-type: none;
    margin: 25px;
    
    
}
.navlink{
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: #0390b2;
    display: block;
    
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 200px;
    margin-top: 20px;
    
}
.navlink.active {
    background-color: #0390b2;
    color: white;
    border-radius: 4px;
   width: 150px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
}


.navlink:hover:not(.active) {
    background-color: #0390b2;
    border-radius: 4px;
    color: white;
    width: 150px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 600px;
}
.herocontent {
    position: absolute;
    top: 200px;  
    left: 70%;  
    transform: translateX(-20%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    
  
}
.herobtext{
    font-weight: bolder;
    font-size: 30px;
}
.heroptext{
    margin-top: 10px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}
.herobtn{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.btn{
    width: 120px;
    height: 50px;
    background-color: #0390b2;
    border: none;
    border-radius: 600px;
    color: white;
    font-weight: bold;
    margin: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color:#0e5c83;

}
.aboutus{
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
}
.abtimg{
    width: 650px;
    height: 580px;
}
.abtimgg{
    width: 650px;
    height: 580px;
}
.abtcntnt{
    margin-left: 30px;
    width: 550px;
}
.abtpara{
    margin-top: 10px;
    text-align: justify;
    line-height: 1.6;
}
.abtbtn{
    margin: 15px 20px 0 0;
    width: 120px;
    height: 50px;
    background-color: #0390b2;
    border: none;
    border-radius: 600px;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.abtbtn:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color:#0e5c83;
}
.spec{
    width: 100%;
    height: 800px;
    margin-top: 30px;
    background-color: #0390b2;
    position: absolute;
    
}
.specc{
    display: flex;

}
.specin{
    margin-left: 80px;
    margin-top: 50px;
    color: white;
    
}
.specbtn{
    margin-bottom: 800px;
    margin-top: 50px;
    margin-left: 400px;
    right: 100px;
    width: 220px;
    position: absolute;
    height: 50px;
    background-color: #0d5e94;
    border: none;
    border-radius: 600px;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.specbtn:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color:#0e5c83;
}
.departments{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 60px 20px;
  text-align: center;
  margin-top: 200px;
  margin-left: 80px;
  margin-right: 60px;
}
.dept{
  border-radius: 20px;
  background-color: #f6f6f6;
  border: 5px solid white; 
  height: 250px;
  position: relative;
  font-weight: bold;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0390b2;
  text-align: left;
  padding: 0;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;  
}
.dept:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    
}

.textdown{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.arrow{
  position: absolute;
  bottom: 4px;
  right: 10px;
}
.dept img{
  width: 110px;
  height: 110 px;
  margin: 8px 0 0 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.working{
    margin-top: 380px;
}
.wrkimg{
    width: 100%;
}
.wrkbtn{
    width: 220px;
    height: 40px;
    background-color: #0d5e94;
    border: none;
    border-radius: 600px;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.wrkbtn:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color:#0e5c83;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #b6ada8;
    margin-top: 40px;
    color: white;
    padding: 40px;
}

.ql img {
    border-radius: 20px;
    width: 350px;
    margin: 40px 0 0 60px;
}

.ql h3, 
.fdept h3 {
    font-weight: bold;
    color: #0390b2;
}

.cnft p {
    margin: 15px 0 0 38px;
    font-size: 16px;
}

.icnft {
    margin: 20px 0 0 38px;
}
.icnft i {
    background-color: #0390b2;
    color: white;
    padding: 8px;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}


.ql1 {
    display: flex;
    gap: 50px;
    margin: 15px 0 0 38px;
}

.ql12 a {
    display: block;
    margin-bottom: 8px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.ql12 a i {
    margin-right: 8px;
    color: #0390b2;
}

.fdept1, .fdept2 {
    display: flex;
    flex-direction: column;
}

.fdept1 a,
.fdept2 a {
    display: block;
    margin-bottom: 8px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.fdept1 a i,
.fdept2 a i {
    margin-right: 8px;
    color: #0390b2;
}


.fdept1, .fdept2 {
    width: 50%;
    padding-left: 80px;
}
.fdept1 a:hover,
.fdept2 a:hover,
.ql12 a:hover,
.cnft p:hover {
    color: #0390b2; 
    transition: 0.3s ease;
}
.icnft i:hover{
    color: #0d5e94;
    transition: 0.3s ease;
}





 
